@media (max-width: 900px){
    .reference {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile-text {
        font-size: 1.4em;
    }
    ul {
        padding: 0;
    }
    .text-holder > p{
        margin: 0;
        padding: 0;
    }
    li {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
      }
      
      .logo-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .mmodsgtav-logo {
        height: 16em;
        width: auto;
      }
      
      .text-holder {
        width: 100%;
      }
    .rrss-holder{
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin-bottom: .5em;
      }
      .rrss-holder > * {
        font-size: 1.7em;
        color: var(--text-color-second);
        cursor: pointer;
      }
    .main-btn {
        width: 50%;
    }
    .separate-gt {
        padding-left: .4em;
    }
    .main-info-holder {
      display: flex;
      flex-direction: column;
      margin: 3em 0 3em 0;
      text-align: center;
      align-items: center;
    }
    
    .main-title {
        width: 100%;
      font-size: 3.9em;
      text-align: center;
    }
    
    .second-title {
      font-size: 1.5em;
      flex-direction: column;
    }
  }