@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  --general-font: 'Montserrat', sans-serif;
  --bg-color: #0F110C;
  --bg-color-lighter: #1e2119;
  --text-color-main: rgb(169, 168, 168);
  --text-color-second: #c5dfe5;
  scroll-behavior: smooth;

}

.editing-msg {
  font-size: 1em !important;
}
.stop-edit-btn {
  background-color: #6d2727 !important;
  color: #ff0000 !important;
}
.edit-btn {
  background-color: #37a07f;
  color: #00ffae;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: .5em;
  box-sizing: border-box;
  padding: .25em 3.3em;
  margin-bottom: .5em;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
}
.privacy-selector > span > * {
  font-size: 1.2em;
  cursor: pointer;
}
.privacy-selector {
  display: flex;
  font-weight: 900;
  align-content: flex-end;
  gap: .4em;
  flex-direction: row;
  width: 100%;
}
.title-input {
  font-weight: 900;
}
.post-form > textarea {
  min-height: 10em;
}
.post-form > input, .post-form > textarea {
    font-family: 'Poppins', sans-serif;
    background: none;
    max-width: 100%;
    min-width: 100%;
    outline: none;
    border: none;
    font-size: 1.2em;
    border-bottom: solid #EF8354 1px;
    color: white;
    padding: .5em 1em;
    width: 100%;
}
.post-btn {
  width: 100% !important;
  min-width: 100%;
  box-sizing: border-box;
  margin: 0 !important;
  cursor: pointer;
  border: solid 2px #EF8354 !important;
  transition: .5s all ease;
}
.post-btn:hover {
  background-color: #323232;
  transition: .5s all ease;
}
.blog-holder > li {

  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.blog-holder >  ul {
  list-style-type: disc !important;
  margin: 0 4em;
  width: 100%;
  box-sizing: content-box;
}
.sticky-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 99%;
  margin: 0;
  padding: 0;
  height: fit-content;
  top: 100vh;
}
.sticky-header {
  position: sticky;
  overflow-x: auto;
  display: inline-block;
  box-sizing: border-box;
  top: 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.blog-holder > ul > li {
  list-style-type: disc;
  box-sizing: content-box;
}
.blog-holder > blockquote {
  background-color: #1e2119;
  color: white;
  padding: 1em 2em;
  box-sizing: border-box;
  border-radius: 10px;
}
.blog-holder > p > a {
  color: #EF8354 !important;
}
.form-input::placeholder {
  color: white;
  
}
.form-input:focus {
  outline: none;
  border-bottom: white 1px solid;
  transition: .5s all ease;
}
.post-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}
.selected-menu-item {
  border-top: solid .1em var(--text-color-main);
}
.item {
  box-sizing: border-box;
  padding: .3em .2em;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items{
  display: flex;
  gap: 2em;
}
.item > * {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
header > nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: var(--general-font);
  color: white;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}
.goback {
  cursor: pointer;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.goback > * {
  text-decoration: none;
  color: white;
}
header > .hr {
  border-top: solid 2px #EF8354;
  background-color: #EF8354;
  margin: 1em 0;
  color: #EF8354;
  border-radius: 25px;
  height: .1em;
  outline: none;
  width: 55%;
  
}
.blog-holder > p > img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.linked-h2 > * {
  color: white;
  display: flex;
  gap: .3em;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.lecture-time {
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
}
.article-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  align-items: center;
  gap: 2em;
}
.date {
  color: #9BC59D;
}
.blog-holder > * {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: left;
  width: 100%;
}
.blog-holder > ul {
  width: 100%;
  text-align: left;
  padding: 0;
}
.blog-holder>blockquote > * {
  padding: 0;
  width: 100%;
  text-align: left;
  margin: 0;
}
.blog-holder > h1 {
  color: white;
  font-size: 2.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: .4em;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
}
.blog-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.blog-holder > p {
  font-size: 1.2em;
}
.blog-holder {
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-self: center;
  align-items: center;
  padding: 4em 0;
  text-align: left;
  justify-content: center;
}
.rrssa {
  text-decoration: none;
}
body{
  background-color: var(--bg-color);
opacity: 1;
background-image: radial-gradient(var(--bg-color-lighter) 0.7px, var(--bg-color) 0.7px);
background-size: 10px 10px;
}
h1 {
  font-family: var(--general-font);
  color: var(--text-color-main);
}
.subsection-title {
  display: flex;
  align-items: center;
  font-family: var(--general-font);
  text-decoration: underline;
  color: white;

}

.project-main-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 1.9em;
  color: white;
}
.role-p {
  font-family: var(--general-font);
  color: var(--text-color-second);
}
p {
  font-family: var(--general-font);
  color: var(--text-color-second);
}
.second-title {
  display: flex;
  align-items: center;
}
.main-info-holder {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.main-btn {
  border: solid 2px var(--text-color-second);
  display: flex;
  justify-content: center;
  justify-items: center;
  transition: .5s all ease;
}
.main-btn-a {
  text-decoration: none;
}
.btn-p {
  font-weight: 500;
}
.main-btn:hover{
  background-color: var(--text-color-second);
  transition: .5s all ease;
  color: var(--bg-color) !important;
}

.main-btn:hover > .main-btn-a > .btn-p {
  color: var(--bg-color);
}


@keyframes cursor {
  0% {
    border-right: 2px solid white;
  }
  100%{  border-right: 0px white solid;}
}

.logo-holder {
  flex-direction: column;
}


.supremo {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 1.6em;
  background-color: #5a6c70;
  padding: 0 .6em;
  line-height: 0;
  border-radius: 16px 16px 0 0;
}

.content {
  display: flex;
  align-items: center;
}

.content > a {
  color: white !important;
  text-decoration: none;
}
.content > a > p {
  color: white !important;
  display: flex;
  align-items: center;
}

.notvisible {
  display: none !important;
}

.close {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 74px;
  font-size: .8em;
  cursor: pointer;
  color: white;
}

ul {
  list-style-type: none;
}

h3 {
  font-family: var(--general-font);
}


.reference {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--text-color-second) !important;
}
.reference {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.reference-a{
  text-decoration: underline;
  color: var(--text-color-second) !important;
}
.box-icon-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 80%;
}

.rrss-box > a{
  text-decoration: none;
  color: white;
}
.box-icon-holder-a {
  display: flex;
  width: 80%;
  justify-content: center;
}
.rrss-box > a > p{
  color: white;
}

.white {
  color: white !important;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

footer > hr {
  width: 100%;
}

h4 {
  font-size: 1em;
}